<p>chore-card works!</p>
<ly-card class="container">
  <ly-grid container spacing="6">
    <ly-grid item [col]="12">
      <h3>Chore_Name</h3>
    </ly-grid>
    <ly-card-content>
      <ly-grid container>
        <ly-grid item col="12">
          <p>User</p>
        </ly-grid>
        <ly-grid item col="12">
          <p>Assigned_Room</p>
        </ly-grid>
        <ly-grid item col="12">
          <p>Completed</p>
        </ly-grid>
      </ly-grid>
    </ly-card-content>
    <ly-grid item [col]="12">

      <ly-card-actions>
        <button ly-button raised bg="accent">Edit</button>
        <button ly-button raised bg="primary">Assign User</button>
        <button ly-button raised bg="primary">Remove User</button>
        <ly-checkbox>Mark Complete</ly-checkbox>
      </ly-card-actions>
    </ly-grid>
  </ly-grid>
</ly-card>
